<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>VTM - Voluntariado Transformador Massivo</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <style>
    .custom-bg {
      background-image: url("https://ibb.co/xm0JtJj");
      /* Adicione o caminho da imagem aqui */
      background-size: cover;
      background-position: center;
    }
  </style>
</head>

<body class="font-sans bg-gray-100">
  <!-- Header Section -->
  <header class="bg-white shadow">
    <div class="container mx-auto px-4 py-6 flex justify-between items-center">
      <img src="https://i.ibb.co/Sxhnwjt/vtm-pv-colorido.png" class="w-32" alt="Logo" />

      <nav class="space-x-16 hidden md:block">
        <a href="/" class="font-semibold text-blue-800">Home</a>
        <a href="#" class="text-gray-800">Campanha</a>
        <a href="#" class="text-gray-800">Sobre</a>
        <a href="#" class="text-gray-800">Contato</a>
      </nav>
      <a href="/login" class="bg-blue-800 text-white px-4 py-2 rounded">Entrar</a>
      <div class="block md:hidden">
        <button class="text-gray-800 focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
    </div>
  </header>

  <!-- Main Section -->
  <main class="container mx-auto px-4 py-8">
    <section class="text-center mb-12">
      <h1 class="text-4xl md:text-5xl font-bold text-blue-800 mb-4">
        Dando Esperança, Criando Impacto
      </h1>
      <p class="text-gray-700 mb-6">
        Faça parte de algo grandioso. Estamos totalmente dedicados a dar
        esperança aos necessitados, criando um impacto duradouro para eles.
      </p>
      <a href="/cadastro" class="bg-green-600 text-white px-6 py-3 rounded-full mr-4">Quero Fazer Parte!</a>
      <a href="#" class="text-green-600 underline">Saiba Mais</a>
    </section>

    <div class="flex items-center w-full justify-center mb-4">
      <img src="https://i.ibb.co/94vWKNy/Pexels-Photo-by-RDNE-Stock-project.png" alt="Voluntários"
        class="w-full md:w-10/12 rounded-lg mb-6 md:mb-0 md:mr-6" />
    </div>

    <section class="flex flex-wrap justify-around mb-12">
      <div class="text-center p-4">
        <h2 class="text-3xl font-bold text-gray-800">$1M+</h2>
        <p class="text-gray-600">Fundo arrecadado</p>
      </div>
      <div class="text-center p-4">
        <h2 class="text-3xl font-bold text-gray-800">500+</h2>
        <p class="text-gray-600">Voluntários Dedicados</p>
      </div>
      <div class="text-center p-4">
        <h2 class="text-3xl font-bold text-gray-800">100%</h2>
        <p class="text-gray-600">Doações entregues</p>
      </div>
      <div class="text-center p-4">
        <h2 class="text-3xl font-bold text-gray-800">250K</h2>
        <p class="text-gray-600">Participação de caridade</p>
      </div>
    </section>

    <section class="mb-12">
      <div class="bg-white shadow-md rounded-lg p-6 flex flex-col md:flex-row items-center">
        <img src="https://i.ibb.co/D8zn8yX/Pexels-Photo-by-Fatima-Yusuf.png" alt="Voluntários"
          class="w-full md:w-1/2 rounded-lg mb-6 md:mb-0 md:mr-6" />
        <div class="text-center md:text-left">
          <p class="text-2xl font-semibold text-gray-800 mb-4">
            50% de crianças no mundo não tem educação básica
          </p>
          <p class="text-gray-700 mb-4">
            A VTM é mais do que uma instituição de caridade; é um movimento
            dedicado a moldar um futuro melhor para os animais, as crianças e
            o nosso planeta e tudo aquilo que possa ser de fim voluntário.
            Através de programas de capacitação, voluntários dedicados e um
            alcance global, estamos a promover mudanças positivas e esperança
            em comunidades em todo o mundo.
          </p>
          <a href="#" class="text-green-600 underline">Saiba Mais</a>
        </div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="text-3xl font-bold text-gray-800 mb-6">Ações Sociais</h2>
      <div class="grid gap-6 md:grid-cols-3">
        <!-- Educação -->
        <div class="bg-white shadow-md rounded-lg p-6">
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">
            Educação acessível para pessoas de baixa renda
          </h3>
          <p class="text-gray-700 mb-4">
            Proporcionar acesso mundial a recursos educacionais, ajudando a
            quebrar o ciclo de pobreza, especialmente em comunidades.
          </p>
          <p class="text-gray-600 mb-4">Disponível: 5 Vagas</p>
          <a href="#" class="bg-blue-800 text-white px-4 py-2 rounded">Quero Ajudar!</a>
        </div>
        <!-- Saúde -->
        <div class="bg-white shadow-md rounded-lg p-6">
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">
            Extensão em saúde para pessoas afetadas
          </h3>
          <p class="text-gray-700 mb-4">
            Ajude humanitária incluindo nutrição alimentar, água limpa e apoio
            médico às pessoas afetadas nas áreas de impacto.
          </p>
          <p class="text-gray-600 mb-4">Disponível: 2 Vagas</p>
          <a href="#" class="bg-blue-800 text-white px-4 py-2 rounded">Quero Ajudar!</a>
        </div>
        <!-- Saneamento -->
        <div class="bg-white shadow-md rounded-lg p-6">
          <h3 class="text-2xl font-semibold text-gray-800 mb-4">
            Iniciativa para alimentar pessoas necessitadas
          </h3>
          <p class="text-gray-700 mb-4">
            Trabalhamos para proporcionar comida diária e alimentos nutritivos
            saudáveis, promovendo a saúde e a higiene, e criando pessoas
            saudáveis.
          </p>
          <p class="text-gray-600 mb-4">Disponível: 15 Vagas</p>
          <a href="#" class="bg-blue-800 text-white px-4 py-2 rounded">Quero Ajudar!</a>
        </div>
      </div>
    </section>

    <section class="mb-12">
      <h2 class="text-3xl font-bold text-gray-800 mb-6">Problemas atuais</h2>
      <div class="grid gap-6 md:grid-cols-3">
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
          <img src="https://i.ibb.co/b52tdz8/Pexels-Photo-by-Christina-Morillo-1.png" alt="Empoderamento Feminino"
            class="rounded-lg mb-4 bg-cover bg-center relative" />
          <h3 class="text-xl font-semibold text-gray-800 mb-2">
            Empoderando as Mulheres: Uma Jornada de Resiliência e Progresso
          </h3>
          <p class="text-gray-600 mb-4">Por Sarah Johnson - 24 Março, 2024</p>
          <a href="#" class="text-blue-600 underline">Ver todos os problemas</a>
        </div>
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
          <img src="https://i.ibb.co/GTDt83L/Pexels-Photo-by-Yan-Krukau.png" alt="Nutrição Infantil"
            class="rounded-lg mb-4 bg-cover bg-center relative" />
          <h3 class="text-xl font-semibold text-gray-800 mb-2">
            Nutrindo os Líderes do Amanhã: Investindo na Educação Infantil
          </h3>
          <p class="text-gray-600 mb-4">Por David Smith - 07 Maio, 2024</p>
        </div>
        <div class="bg-white shadow-md rounded-lg p-6 flex flex-col items-center">
          <img src="https://i.ibb.co/VW4LLfC/Pexels-Photo-by-mdzi.png" alt="Preservação do Planeta"
            class="rounded-lg mb-4 bg-cover bg-center relative" />
          <h3 class="text-xl font-semibold text-gray-800 mb-2">
            Preservando o Planeta para as Nossas Próximas Gerações
          </h3>
          <p class="text-gray-600 mb-4">Por Laura Hopkins - 16 Abril, 2024</p>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer Section -->
  <footer class="bg-blue-800 text-white py-12">
    <div class="container mx-auto px-4">
      <div class="text-center mb-6">
        <p class="text-xl font-semibold mb-2">Junte-se à VTM Seja PV</p>
        <p class="mb-6">
          Juntos, podemos ajudar pessoas, nutrir os sonhos das crianças e
          preservar o nosso planeta.
        </p>
        <a href="#" class="bg-orange-500 text-white px-6 py-3 rounded-full">Assine Nossa Newsletter</a>
      </div>
      <div class="flex flex-wrap justify-center space-x-6 mb-6">
        <a href="#" class="text-white">Sobre Nós</a>
        <a href="#" class="text-white">Nossa Missão</a>
        <a href="#" class="text-white">Ações Sociais</a>
        <a href="#" class="text-white">Entre em Contato</a>
      </div>
      <p class="text-center">
        &copy; VTM 2024. Todos os direitos reservados.
      </p>
    </div>
  </footer>
</body>

</html>